@model Web.ViewModels.ManageCustomPermissionsViewModel

@{
    ViewBag.Title = "ManageCustomPermissions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ManageCustomPermissions</h2>


<table>
    <tr>
        <th>
            Url
        </th>
        <th>Roles</th>
        <th>Users</th>
        <th></th>
    </tr>

@foreach (var item in Model.Permissions) {
    <tr>
        <td>
            @Html.DisplayFor(m => item.SelectedUrl)
            @Html.HiddenFor(m => item.CustomPermissionId)
        </td>
        <td>@Html.DisplayFor(m => item.SelectedListBoxRoles)</td>
        <td>@Html.DisplayFor(m => item.SelectedListBoxUserNames)</td>
        <td>
            @Html.ActionLink("View", "EditCustomPermissions", new { id=item.CustomPermissionId })
        </td>
    </tr>
}

</table>  


