@model Web.ViewModels.School

@{
    ViewBag.Title = "BasicForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Basic Form</h2>

@if (ViewBag.Message != null)
{
    <div class="message-error">@Html.Raw(ViewBag.Message)</div>
}

@using (Html.BeginForm("BasicForm", "Home", FormMethod.Post))
{
    <fieldset>
        <legend>Send some values</legend>
        <p>This is a plain jane post back to the server.</p>
        <ol>
            <li>
                @Html.LabelFor(model => model.Name)
                @Html.TextBoxFor(model => model.Name)
            </li>
            <li>
                @Html.LabelFor(model => model.PhoneNumber)
                @Html.TextBoxFor(model => model.PhoneNumber)
            </li>
        </ol>
    </fieldset>
    
    <button type="submit">Submit</button>
}

