@model Web.ViewModels.Person

@{
    ViewBag.Title = "CompletxForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    //constants used in the templates
    const string NAME = "Name";
    const string PHONE_NUMBER = "PhoneNumber";
    
    //Variables 
    var formIdTemplate = "Person_School_{0}_{1}";
    var formNameTemplate = "Person.School.{0}.{1}";
    var templateSchoolNameId = string.Format(formIdTemplate, 0, NAME);
    var templateSchoolNameFormName = string.Format(formNameTemplate, 0, NAME);
    var templatePhoneId = string.Format(formIdTemplate, 0, PHONE_NUMBER);
    var templatePhoneFormName = string.Format(formNameTemplate, 0, PHONE_NUMBER);
    var schoolCount = Model.SchoolsIWentTo.Count;   
}
@section scripts{
<script type="text/javascript">
    $(document).ready(function () {
        var templateSchoolNameId = "@templateSchoolNameId";
        var templateSchoolNameFormName = "@templateSchoolNameFormName";
        var templatePhoneId = "@templatePhoneId";
        var templatePhoneFormName = "@templatePhoneFormName";
        var schoolCount = "@schoolCount";

        $(".add-school").click(function () {
            //Clone the template
            var clone = $(this).prev(".template").clone();

            //Update the labels and input ids
            var nameLabel = $(clone).find("[data-school-label=@NAME]").first();
            var phoneLabel = $(clone).find("[data-school-label=@PHONE_NUMBER]").first();
            var nameInput = $(clone).find("[data-school-field=@NAME]").first();
            var phoneInput = $(clone).find("[data-school-field=@PHONE_NUMBER]").first();

            var updatedNameId = templateSchoolNameId.replace("0", schoolCount);
            var updatedPhoneId = templatePhoneId.replace("0", schoolCount);
            var updatedNameAttr = templateSchoolNameFormName.replace("0", schoolCount);
            var updatedPhoneAttr = templatePhoneFormName.replace("0", schoolCount);

            $(nameLabel).attr("for", updatedNameId);
            $(phoneLabel).attr("for", updatedPhoneId);
            $(nameInput).attr("id", updatedNameId);
            $(phoneInput).attr("id", updatedPhoneId);
            $(nameInput).attr("name", updatedNameAttr);
            $(phoneInput).attr("name", updatedPhoneAttr);

            //Remove the data attributes from the cloned template
            $(nameLabel).removeAttr("data-school-label");
            $(phoneLabel).removeAttr("data-school-label");
            $(nameInput).removeAttr("data-school-field");
            $(phoneInput).removeAttr("data-school-field");

            //Remove the class from the template
            $(clone).removeClass("template");

            //Add the cloned template to the list
            $(clone).insertBefore(this);

            //Increment the total count of schools...
            schoolCount++;
        });
    });
</script>
}
<h2>Completx Form</h2>
@using (Html.BeginForm("BasicForm", "Home", FormMethod.Post))
{
    <fieldset>
        <legend>Send some values</legend>
        <p>This is a form that returns a view model with a list of items in addition to the 
            simple properties.</p>
        <ol>
            <li>
                @Html.LabelFor(model => model.FirstName)
                @Html.TextBoxFor(model => model.FirstName)
            </li>
            <li>
                @Html.LabelFor(model => model.Email)
                @Html.TextBoxFor(model => model.Email)
            </li>
            <li>
                @Html.Label("Schools I went to")
                
                @for (int i = 0; i < Model.SchoolsIWentTo.Count; i++)
                {
                    var school = Model.SchoolsIWentTo[i];
                    var schoolNameId = string.Format(formIdTemplate, school.Name, i);
                    var schoolNumberId = string.Format(formIdTemplate, school.PhoneNumber, i);
                    
                    <ol>
                        <li>
                            <label for="@schoolNameId">School name:</label>
                            <input type="text" id="@schoolNameId" name="@string.Format(formNameTemplate, i, NAME)" value="@school.Name" />
                        </li>
                        <li>
                            <label for="@schoolNumberId">School phone number:</label>
                            <input type="text" id="@schoolNumberId" name="@string.Format(formNameTemplate, i, PHONE_NUMBER)" value="@school.PhoneNumber" />
                        </li>
                        <li><a href="javascript;" class="remove-school">Remove</a></li>
                        <li><hr /></li>
                    </ol>
                }   
                <ol class="template">
                    <li>
                        <label for="@templateSchoolNameId" data-school-label="@NAME">School name:</label>
                        <input type="text" id="@templateSchoolNameId" name="@templateSchoolNameFormName" data-school-field="@NAME" />
                    </li>
                    <li>
                        <label for="@templatePhoneId" data-school-label="@PHONE_NUMBER">School phone number:</label>
                        <input type="text" id="@templatePhoneId" name="@templatePhoneFormName" data-school-field="@PHONE_NUMBER" />
                    </li>
                    <li><a href="javascript;" class="remove-school">Remove</a></li>
                    <li><hr /></li>
                </ol>
                <button type="button" class="add-school">Add school</button>
            </li>
        </ol>
    </fieldset>
    
    <button type="submit">Submit</button>
}