@model Demo.EditorTemplates.Web.Models.Address

<div class="display-label">
    @Html.LabelFor(model => model.Address1)
</div>
<div class="display-field">
    @Html.EditorFor(model => model.Address1)
    @Html.ValidationMessageFor(model => model.Address1)
</div>

<div class="display-label">
    @Html.LabelFor(model => model.City)
</div>
<div class="display-field">
    @Html.EditorFor(model => model.City)
    @Html.ValidationMessageFor(model => model.City)
</div>

<div class="display-label">
    @Html.LabelFor(model => model.State)
</div>
<div class="display-field">
    @Html.DropDownListFor(m => m.State.StateId, new SelectList(Model.States, "StateId", "StateAbbreviation"))
</div>

<div class="display-label">
    @Html.LabelFor(model => model.Zip)
</div>
<div class="display-field">
    @Html.EditorFor(model => model.Zip)
    @Html.ValidationMessageFor(model => model.Zip)
</div>

@Html.HiddenFor(model => model.AddressId)
